body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: radial-gradient(circle, #ff7e5f 0%, #feb47b 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.login-container {
  background-color: #1a202c;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.login-form-container {
  background-color: #1a202c;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.inisesion {
  text-align: center;
  color: #ffff;
  margin-bottom: 1.5rem;
}

.correo{
  color: #ffff
}
.contra{
  color: #ffff
}
.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
  color: #ffff;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4b5563;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}



.submit-button:hover {
  background-color: #17c900;
}

.signup-link {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 1rem;
}

.signup-link a {
  color: #ffff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
.form-title_gcl {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.email-address{
  color: #ffff
}
.password{
  color: #ffff
}
.signup-button {
  display: inline-block; /* Para que se comporte como un bloque */
  background-color: #1eff00; /* Color de fondo del botón */
  color: black; /* Color del texto */
  padding: 0.75rem ; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 0.22rem; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de fuente */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Sin subrayado */
  cursor: pointer; /* Cambia el cursor a pointer */
  transition: background-color 0.2s; /* Transición para el hover */
}
.submit-button {
  background-color: #d1d1d1 ;
  color: black;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

